<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sunrise.pons-reputation-collector</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/python3</string>
    <string>-u</string>
    <string>pons/reputation.py</string>
    <string>--heartbeat</string>
    <string>pons/data/reputation_heartbeat.json</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/tae/dev-mac-mini/launchpad-scanners</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>21600</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/tae/dev-mac-mini/launchpad-scanners/pons/data/reputation.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/tae/dev-mac-mini/launchpad-scanners/pons/data/reputation.log</string>
</dict>
</plist>
